# Environment variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


data_old/
abandoned_repos_json/
repositories/
knowledge_base/
knowledge_base_old/
readmes/
readmes_old/
src_initial/
generated_readmes/
# generated_readmes_token_stats/
old/
analysis/